
@import "../../styles/variables";

.prodTicket{
    
    padding: 2% 0;
    border-bottom: solid 1px gray;
    display: flex;
    justify-content: space-between;
    
    .imgContainer{
        width: auto;
        margin: 0;
        position: relative;
        
        .imgTicket{
            width: 70%;
        } 
    
        span#saleTag{
                position: absolute;
                font-size: medium;
                top: 0;
                left: 0%;
                background-color: black;
                color: white;
                border-radius: 15px;
                padding: 2px;
            }
        }
    
    .infoContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .nombreProdTicket::before{
                content: 'Nombre: ';
                font-weight: 600;
            }
            .precioProdTicket::before{
                content: 'Precio: ';
                font-weight: 600;
            }
            .subtotalProdTicket::before{
                content: 'Subtotal: ';
                font-weight: 600;
            }
            p{
                text-align: center;
                font-size:large;
                span#precioOriginal{
                    font-size:medium;
                    text-decoration: line-through;
                    color: $primary-color;
                }
            }
        }  
    }



@media (min-width:980px) { 

    .prodTicket{
        padding: 0.5% 0;
        border-bottom: solid 1px gray;
        display: flex;

        .imgContainer{
            width: auto;
            margin: 0;
            position: relative;
                .imgTicket{
                    width: 50%;
                } 
                span#saleTag{
                    position: absolute;
                    font-size: medium;
                    top: 0;
                    left: 0%;
                    background-color: black;
                    color: white;
                    border-radius: 15px;
                    padding: 2px;
                }
            }

        .infoContainer{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
                align-items: center;
                .nombreProdTicket::before{
                    content: 'titulo: ';
                }

                .precioProdTicket::before{
                    content: 'c/u: ';
                }

                .subtotalProdTicket{

                }
                p{
                    margin: 0;
                    width: 14%;
                    font-size:x-large;
                    span#precioOriginal{
                        font-size:large;
                    }
                }
            }  
        }
    

}