.newsletterForm{
    display: flex;
    flex-direction: row;
    justify-content: center;

    input{
        border-style: none;
        border: solid 1px white;
        background-color: rgb(247, 247, 247);
        border-radius: 20px;

    }
    button{
        border-radius: 20px;
        border-style: none;
        border: solid 1px white;
        padding: 2px 5px;
        margin-left: 5px;
    }
}