.goBackLink{
    padding: 2px 1%;
    border-radius: 30px;
    border: solid 1px #8B9E70;
    text-decoration: none;
    color:#8B9E70;
    width: 150px;
    margin-bottom: 20px;
    &:hover{
        background-color:#8B9E70 ;
        color: white;
    }
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgSection{
        position: relative;
        margin: 5% 0;
        .saleTag{
            .badge{
                background: #000;
                font-size: medium;
                padding: 10px 24px;
                top: 0;
                position: absolute;
                &:before{
                    border-width: 20px 0 0 10px;
                    border-color: transparent transparent transparent #000;
                    content: "";
                    position: absolute;
                    right: -8px;
                    width: 0;
                    bottom: 0;
                    border-style: solid
                }
                &:after{
                    border-width: 20px 8px 0 10px;
                    border-color:#000 transparent transparent;
                    content: "";
                    position: absolute;
                    right: -8px;
                    width: 0;
                    top: 0;
                    border-style: solid
                }  
            }
        }
        img{   
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            max-width: 100%

        }
    }
    div{

        .infoSection{
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            max-height: 50vh;
            margin: 5% 0;
        
            .productName{
                width: 90%;
                margin-bottom: 20px;
                border-bottom: solid 1px #8B9E70;
                color: #8B9E70
            }
            .productDescription{
                overflow-y: scroll;
                font-size: medium;
                text-align: center;
                width: 100%;
                padding: 0 2%;
                height: 70%;
            }
            .productCategory{
                color: gray;
                width: 100%;
                margin: 0 0 3% 0;
                text-align: center;
            }
        }
        
        .buttonSection{
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            padding: 2% 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            flex-direction: column;
            font-family: "Dosis", sans-serif;
            .precios{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                text-align:right;
                border-bottom:solid 1px #8B9E70;
                width: 100%;
                padding: 0 2%;
                margin: 0;
                p{
                    margin: 2% 0 0 0;
                }
                strong{
                    margin: 2% 0 0 0;
                    .oldPrice{
                        padding-left: 10px;
                        font-size: medium;
                        color: #8B9E70;
                        text-decoration: line-through;
                        
                    }
                }
            }
        
            .handelAmountSection{
                margin: 5% 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content:center;
                button{
                    font-size: larger;
                    border-radius: 50px;
                    width: 70px;
                    height: 70px;
                    border: solid 1px #8B9E70;
                    background-color: white;
                    &:active{
                        background-color: #8B9E70;
                        color: white;
                    }
                    &:hover{
                        background-color: #8B9E70;
                        color: white;
                    }
                }
                strong{
                    width: 30px;
                    margin: 0 2%;
                    padding: 0 5%;
                    text-align: center;
                }
            }
        
            .stock{
                margin-top: 2%;
            }
            .cartButton{
                width: 100%;
                background-color: #8B9E70;
                padding: 2% 0;
                margin-bottom: 2%;
                border-style: none;
                border-radius: 30px;
                color: white;
                &:hover{
                    background-color: #545f45;
                }
            }
        }
    }
}

.sinStock{
    background-color: rgba(165, 118, 118, 0.836) !important;
}

/* ------------------------------------------------- */
/* ---------------------------------- RESPONSIVE---- */
/* ------------------------------------------------- */
@media (min-width:980px) { 
    .product_Detail{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        article{
            padding: 0 5%;
            flex-direction: row;
            height: 100%;
            .imgSection{
                height: 100%;
                width: 35%;
                margin: 0;
                .saleTag{
                    margin: 0;
                    display: block;
                }
                img{
                    width: auto;
                    height: 100%;
                }
            }
            
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                margin-left: 2%;
                
                width:65%;
                .infoSection{
                    padding: 1% 5%;
                    margin: 0 0 0 2%;
                    height: 70%;
                    .productName{
        
                    }
                    .productDescription{
        
                    }
        
                }
                
                .buttonSection{
                padding: 1% 5%;
                margin: 6% 0 0 2%;
                height: 30%;
                    .precios{
        
                        p{
        
                        }
                        strong{
                            .oldPrice{  
                            }
                        }
                    }
                
                    .handelAmountSection{
                        margin: 1% 0;
                        button{
        
                        }
                        strong{
        
                        }
                    }
                
                    .stock{
                
                    }
                    .cartButton{
        
                    }
                }
            }
        }
    }
}