@import "../../styles/variables";

.aboutUs_Container{
    display: flex;
    flex-direction: column;

    h2{
        font: $h2-mobile;
        font-weight: 600;
        
    }
    div{
        p{
            text-align: justify;   
        }
    }
}

